body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#texto{
    text-align: center;
}

p{
    font-family: 'Bebas Neue';
    font-weight: bolder;
}
#conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px ;
    border-radius: 10px; /* Borda arredondada */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Fundo branco com leve opacidade */
    width: 800px;
}

#reiniciar {
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgba(128, 0, 128, 0.89);
    border-color: white;
    color: white;
    font-family: 'Bebas Neue';
    font-weight: lighter;
    letter-spacing: 3px;
    text-align: center;
}

body{
    background-image: url(/img/fundo1.jpg);
    /*abaixo: controla a opacidade*/
    background-color: rgba(0, 0, 0, 0.3); /* Cor preta com 30% de opacidade */
    background-blend-mode: overlay; /* Combina a cor com a imagem */
    max-width: 100%;
    max-height: 100%;
}

#fundo{
    width: 200px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgba(128, 0, 128, 0.89);
    border-color: white;
    color: white;
    font-family: 'Bebas Neue';
    font-weight: lighter;
    letter-spacing: 3px;
    text-align: center;
}

h1{
    font-size: 40px;
    font-family: 'Bebas Neue';
    font-weight: bolder;
    letter-spacing: 4px;
    color: rgba(77, 0, 77, 0.89);

}

h2{
    font-family: 'Bebas Neue';
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: 3px;
    color: rgba(77, 0, 77, 0.89);
}


.container{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    align-items: center;
    justify-items: center;
    border: 2px;
    margin-top: 25px;
}

.row {
    display: flex;
    justify-content: center;  /* Centraliza os botões na linha */
    gap: 5px;
}

button{
    width: 100px;            
    height: 100px;  
    box-sizing: border-box;
    border-color: rgba(128, 0, 128, 0.5);         
    margin: 15px;     
    font-size: 2rem;         
    text-align: center;
    border-radius: 10px;
    background-color: whitesmoke;
    color: rgba(128, 0, 128, 0.808);       
    /*border: none;   */         
    cursor: pointer;        
    align-items: center;     /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    
}

